.imputName {
  display: flex;

  width: 150px;

  border: 2px solid rgb(20, 114, 127);

  border-radius: 4px;

  outline: transparent;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 20px;
}